<div id="centerallign">
</div>

<div id="lovecenter">
  <img src="assets/the.gif" alt="xgif">
</div>
<div class="ui grid">
  <div class="four wide column">
    <div class="ui card">
      <div class="content">
        <p class="ui green ribbon label">Online</p>
        <div class="center aligned header"><%= current_user.username %></div>
        <div class="center aligned description">
          <p>Email:  <%= current_user.email %></p>
        </div>
      </div>
      <div class="extra content">
        <div class="center aligned author">
          <% if current_user.gender.eql?('Male') %>

            <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/matt.jpg"> <%= current_user.username %>
          <% else %>
            <img class="ui avatar image" src="https://semantic-ui.com/images/avatar/small/jenny.jpg"> <%= current_user.username %>
          <% end %>

        </div>
      </div>
    </div>
  </div>

  <div class="eight wide column">
    <div class="ui card fluid raised chatbox">
      <div class="content" id="msg__container">
        <div class="ui small feed" id="sourav">
          <h4 class="ui header">Your Rumies</h4>
          <!--          here the messages is the instance variable of message.all-->
          <%= render @messages %>



        </div>
      </div>
      <div class="extra content">
        <%= form_for(@message, html: { class: 'ui reply form', role: 'form' }, url: message_path, remote: true) do |f| %>
          <div class="field">
            <div class="ui blue labeled submit icon input">

              <%= f.text_field :msg, autofocus: true, autocomplete: "off", placeholder: 'Type a Rumi...' ,rows:'2'%>

              <%= f.button '<i class="icon red fa-paper-plane"></i>'.html_safe, class: 'writebtn', id: 'sbmtbtn' %>

            </div>
          </div>
        <% end %>
      </div>

    </div>

  </div>
  <div class="four wide column">
    <h3>Choose your emjoi from here </h3>
      <textarea id="mytextarea"></textarea>
  </div>

</div>
