
<div class="container ui" style="margin-top:30px">

  <%= link_to image_tag('rumi.png', class: "mt-3 ui centered medium image"), root_path %>
  <h2 class="ui center aligned icon header" style="margin-top:-10px">
    A stupid messenger
  </h2>
</div>
<h1 class="ui center aligned header">Signup and use Rumi</h1>

<% if @user.errors.any? %>
  <div class="ui error message">
    <i class="close icon"></i>
    <div class="header">
      Oops! you got some errors.
    </div>
    <% @user.errors.full_messages.each do |msg| %>


      <ul class="list">
        <li><%= msg %></li>
      </ul>
    <% end %>
  </div>
  <hr>
  <br>
  <br>
<% end %>

<div class="ui four column centered grid">
  <div class="column">
<div class="ui card ">
  <div class="content">

<%= form_for(@user, html: { class: 'ui form', role: 'form' }, url: signup_path) do |f| %>
  <div class="field">
    <%= f.label :username %>
    <div class="ui left icon input">
      <i class="user red icon"></i>
      <%= f.text_field :username, placeholder: 'Enter Username', required: true %>
    </div>
  </div>
  <div class="field">
    <%= f.label :email %>
    <div class="ui left icon input">
      <%= f.email_field :email, placeholder: 'Enter Email', required: true %>
      <i class="envelope red icon"></i>
    </div>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.select :gender, ['Male', 'Female'] ,required: true%>

  </div>

  <div class="field">
    <%= f.label :password %>
    <div class="ui left icon input">
      <%= f.password_field :password, placeholder: 'Enter Password', required: true %>
      <i class="lock red icon"></i>
    </div>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirm Password" %>
    <div class="ui left icon input">
      <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', required: true %>
      <i class="lock red icon"></i>
    </div>
  </div>
  <%= f.submit "Signup", class: 'ui red button' %>
  <br><br>
<% end %>
</div>
</div>
  </div>
</div>
<!--<div class="ui modal">-->
<!--  <div class="header">Header</div>-->
<!--</div>-->